<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>climb_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,214},{61,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,64}}</string>
                <key>sourceSize</key>
                <string>{65,68}</string>
            </dict>
            <key>climb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,303},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>climb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,64}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>climb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,332},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,61}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>dead_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,201},{68,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{68,39}}</string>
                <key>sourceSize</key>
                <string>{72,43}</string>
            </dict>
            <key>dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,160},{68,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{68,39}}</string>
                <key>sourceSize</key>
                <string>{72,43}</string>
            </dict>
            <key>happy_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,242},{58,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,65}}</string>
                <key>sourceSize</key>
                <string>{62,69}</string>
            </dict>
            <key>happy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,242},{59,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{59,64}}</string>
                <key>sourceSize</key>
                <string>{63,68}</string>
            </dict>
            <key>happy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,396},{58,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,65}}</string>
                <key>sourceSize</key>
                <string>{62,69}</string>
            </dict>
            <key>happy_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,277},{57,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{57,64}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>hitBash_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{81,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{81,86}}</string>
                <key>sourceSize</key>
                <string>{85,90}</string>
            </dict>
            <key>hitBash_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,64},{87,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{87,80}}</string>
                <key>sourceSize</key>
                <string>{91,84}</string>
            </dict>
            <key>hitBash_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,131},{85,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{85,81}}</string>
                <key>sourceSize</key>
                <string>{89,85}</string>
            </dict>
            <key>hitBash_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{84,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,82}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>hitBash_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,309},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,60}}</string>
                <key>sourceSize</key>
                <string>{58,64}</string>
            </dict>
            <key>hitBash_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,68},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,64}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>hitUp_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,70},{71,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{71,76}}</string>
                <key>sourceSize</key>
                <string>{75,80}</string>
            </dict>
            <key>hitUp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,84},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{75,74}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>hitUp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{95,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{95,61}}</string>
                <key>sourceSize</key>
                <string>{99,65}</string>
            </dict>
            <key>hitUp_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,65},{87,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{87,64}}</string>
                <key>sourceSize</key>
                <string>{91,68}</string>
            </dict>
            <key>hitUp_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,309},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,60}}</string>
                <key>sourceSize</key>
                <string>{58,64}</string>
            </dict>
            <key>hitUp_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,68},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,64}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>hit_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{81,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{81,86}}</string>
                <key>sourceSize</key>
                <string>{85,90}</string>
            </dict>
            <key>hit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{87,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{87,80}}</string>
                <key>sourceSize</key>
                <string>{91,84}</string>
            </dict>
            <key>hit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{95,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{95,62}}</string>
                <key>sourceSize</key>
                <string>{99,66}</string>
            </dict>
            <key>hit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{92,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{92,60}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>hit_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,266},{64,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,67}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>hit_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,68},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,64}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>scare_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,211},{67,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,64}}</string>
                <key>sourceSize</key>
                <string>{71,68}</string>
            </dict>
            <key>scare_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,65}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>show_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,242},{58,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,65}}</string>
                <key>sourceSize</key>
                <string>{62,69}</string>
            </dict>
            <key>show_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,277},{58,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,64}}</string>
                <key>sourceSize</key>
                <string>{62,68}</string>
            </dict>
            <key>stand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,64}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,331},{48,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,63}}</string>
                <key>sourceSize</key>
                <string>{52,67}</string>
            </dict>
            <key>unhappy_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,199},{71,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{71,65}}</string>
                <key>sourceSize</key>
                <string>{75,69}</string>
            </dict>
            <key>unhappy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,146},{74,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,66}}</string>
                <key>sourceSize</key>
                <string>{78,70}</string>
            </dict>
            <key>unhappy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{78,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{78,66}}</string>
                <key>sourceSize</key>
                <string>{82,70}</string>
            </dict>
            <key>unhappy_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,143},{74,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,66}}</string>
                <key>sourceSize</key>
                <string>{78,70}</string>
            </dict>
            <key>walk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,266},{48,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,63}}</string>
                <key>sourceSize</key>
                <string>{52,67}</string>
            </dict>
            <key>walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,134},{48,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,63}}</string>
                <key>sourceSize</key>
                <string>{52,67}</string>
            </dict>
            <key>walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{47,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{47,64}}</string>
                <key>sourceSize</key>
                <string>{51,68}</string>
            </dict>
            <key>walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{47,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{47,63}}</string>
                <key>sourceSize</key>
                <string>{51,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>girl.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df8a2c9019eb4611d8cbbde86946327c:1/1$</string>
            <key>textureFileName</key>
            <string>girl.png</string>
        </dict>
    </dict>
</plist>
